{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>{{ room.room_name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="container py-5">

        <div class="row">

            <div class="col-md-6">

                <img src="{{ room.image.url }}" class="img-fluid rounded shadow">

            </div>

            <div class="col-md-6">

                <h1 class="mb-3">
                    {{ room.room_name }}
                </h1>

                <h3 class="text-warning mb-4">
                    ₹ {{ room.price }}
                </h3>

                <p class="mb-4">
                    {{ room.description }}
                </p>

                <h5>Amenities:</h5>

                <ul>
                    <li>Free WiFi</li>
                    <li>Air Conditioning</li>
                    <li>Swimming Pool</li>
                    <li>Breakfast Included</li>
                </ul>

                
                <a href="{% url 'book_room' room.id %}">

                    <button class="btn btn-dark btn-lg mt-3">
                        Book Now
                    </button>

                </a>

            </div>

        </div>

    </div>

</body>

</html>